@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  
    font-size: 15px;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1{
    font-size: 2.2rem;
}

h2, h3, h4, h5, h6{
    font-size: 1.7rem;
}

p, div, form, input{
    font-size: 1.5rem;
}

span, label{
    font-size: 0.75rem;
}

nav{
    position: fixed;
    top:0;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #c3ddca;
}

nav .links a{
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
    color: black;
}

nav .links a:visited{
    color: black;
    text-decoration: none;
}

nav .menu:visited{
    color: black;
    text-decoration: none;
}

nav .menu{
    display: none;
    color: black;
}

nav .categoria{
    display: none;
}

nav .links{
    width: 95%;    
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: -50px;
    /* grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto; */
    /* align-items: end;
    justify-content: space-around;
    align-items: end; */
    /* overflow-x: scroll; */
}

nav .cart-container{
    position: absolute;
    width: 5%;
    right: 0;
    top: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .cart-container i{
    font-size: 2.5rem;
}

.producto{
    box-sizing: border-box;
    /* padding: 10px; */
    margin: 150px 60px 80px 60px;
    /* height: 70vh; */
    display: flex;
}

.producto .imagenes-producto{
    display: flex;
    width: 100%;
}

.producto .contenedor-imgs{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4,1fr);
    /* gap: 15px; */
    width: 100%;
    height: 100%;
    row-gap: 20px;
}

.producto .contenedor-imgs .img-grande{
    background-size:auto;
    width: 100%;
    margin-left: 20px;
    padding: 0;
    grid-column: 2;
    grid-row: 1/span 4;
}

.producto .contenedor-imgs .img-grande1{
    background: url('../storage/images/categoria1/producto1-1.jpg') no-repeat center center;
    background-size: cover;
}

.producto .contenedor-imgs .img-grande2{
    background: url('../storage/images/categoria1/producto2-1.jpg') no-repeat center center;
    background-size: cover;
}

.producto .contenedor-imgs .img-grande3{
    background: url('../storage/images/categoria1/producto3-1.jpg') no-repeat center center;
    background-size: cover;
}

.producto .contenedor-imgs .img-grande4{
    background: url('../storage/images/categoria1/producto4-1.jpg') no-repeat center center;
    background-size: cover;
}

.producto .contenedor-imgs img{
    object-fit: contain ;
    width: 100%;
    height: 150px;
    border: 1px solid black;
}

/* hover */

/* producto 1 */

.contenedor-imgs > .img1:hover ~ .img-grande1{
    background: url('../storage/images/categoria1/producto1-1.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img2:hover ~ .img-grande1{
    background: url('../storage/images/categoria1/producto1-2.jpg') no-repeat center center;
    background-size: cover;

}
.contenedor-imgs > .img3:hover ~ .img-grande1{
    background: url('../storage/images/categoria1/producto1-3.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img4:hover ~ .img-grande1{
    background: url('../storage/images/categoria1/producto1-4.jpg') no-repeat center center;
    background-size: cover;
}


/* producto 2*/

.contenedor-imgs > .img1:hover ~ .img-grande2{
    background: url('../storage/images/categoria1/producto2-1.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img2:hover ~ .img-grande2{
    background: url('../storage/images/categoria1/producto2-2.jpg') no-repeat center center;
    background-size: cover;

}
.contenedor-imgs > .img3:hover ~ .img-grande2{
    background: url('../storage/images/categoria1/producto2-3.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img4:hover ~ .img-grande2{
    background: url('../storage/images/categoria1/producto2-4.jpg') no-repeat center center;
    background-size: cover;
}

/* producto 3*/

.contenedor-imgs > .img1:hover ~ .img-grande3{
    background: url('../storage/images/categoria1/producto3-1.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img2:hover ~ .img-grande3{
    background: url('../storage/images/categoria1/producto3-2.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img3:hover ~ .img-grande3{
    background: url('../storage/images/categoria1/producto3-3.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img4:hover ~ .img-grande3{
    background: url('../storage/images/categoria1/producto3-4.jpg') no-repeat center center;
    background-size: cover;
}

/* producto 4 */

.contenedor-imgs > .img1:hover ~ .img-grande4{
    background: url('../storage/images/categoria1/producto4-1.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img2:hover ~ .img-grande4{
    background: url('../storage/images/categoria1/producto4-2.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img3:hover ~ .img-grande4{
    background: url('../storage/images/categoria1/producto4-3.jpg') no-repeat center center;
    background-size: cover;
}
.contenedor-imgs > .img4:hover ~ .img-grande4{
    background: url('../storage/images/categoria1/producto4-4.jpg') no-repeat center center;
    background-size: cover;
}

.producto .detalle-producto{
    display: flex;
    flex-direction: column;
    justify-content :space-between;
    width: 80vw;
    padding-right: 100px;
}

.producto .rating i{
    font-size: 2rem;
    color: #F28585;
}

.producto .detalle-producto .precios{
    display: flex;
    align-items: center;
    width: 100%; 
    gap: 30px;
}

.producto .detalle-producto button{
    margin-bottom: 50px;
    width: 150px;
    background-color: #c3ddca;
}

/* responsive */

@media(max-width:768px){

    nav{
        right: 0;
        width: 100%;
        height: 6vh;
    }

    nav .links{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0px;
        top: 6vh;
        width: 100%;
        clip-path: circle(0% at top left);
        transition: clip-path 0.4;
        height: 40vh;
    }
   

    nav .links:target{
        clip-path: circle(150% at top left);
    }

    nav .menu{
        position: relative;
        display: flex;
        align-items: center;
        left: -50px;
        text-decoration: none;
    }

    nav .menu i{
        font-size: 2rem;
    }

    nav .categoria{
        display: block;
        position: relative;
        left: -85px;
        top:5px
    }

    .producto{
        flex-direction: column;
        width: 90vw;
        margin: 60px 20px 0px 20px;
        height: 85vh;
    }

    .producto .imagenes-producto{
        flex-direction: column;
        height: 50vh;
    }

    .producto .contenedor-imgs{
        width: 100%;
    }

    .producto .contenedor-imgs img{
        height: 60px;
        width: 20vw;
    }

    .producto .detalle-producto{
        padding-right: 0;
        padding-top: 20px;
        width: 90%;
    }

    .producto .detalle-producto .precios{
        gap: 10px;
    }

    .producto .detalle-producto h2{
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .producto .detalle-producto p{
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .producto .detalle-producto h3{
        font-size: 1.1rem;
    }

    .producto .detalle-producto h5 del{
        font-size: 0.8rem;
    }
    .producto .detalle-producto button{
        font-size: 0.7rem;
        width: 80px;
    }

    nav .cart-container i{
        font-size: 2rem;
        position: relative;
        top: -5px
    }
}


